*{
    font-family: 'McLaren', sans-serif;
}

body{
    background-color: #5B52D8;
}

#mainLoginSquare{
    display:flex;
    height: 80vh;
    width: 40vw;
    align-items: center;
    justify-content: centre;
    background-color:white;
    flex-direction:column;
    margin: 5vh auto;
    border-radius: 60px;
    gap: 3vh;
}

h1{
    font-size:3vw;
}

.inputInformationLI   {
    box-shadow: 4px 4px 4px gray;
    border: 0.5px solid gray;
    border-radius: 1vw;
    font-size: 1.5vw;
    width: 30vw;
    padding: 2vh;
}

.spanLink   {
    display: flex;
    gap: 0.5vw;
}

#forgotLink{
    padding-right: 20vw;
    font-size: 1.1vw;
    cursor:pointer;
}

#signUpLink{
    cursor:pointer;
}

a{
    text-decoration:none;
}

#btn1{
    width: 32vw;
    border-radius: 1vw;
    color: white;
    font-size: 2vh;
    box-shadow: 4px 4px 4px gray;
    cursor: pointer;
    display: block;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1.5px solid #333;
    transition: all .80s;
}

#btn1:hover  {
    width: 200px;
    border: 1.5px solid #2ecc71;
    background: transparent;
    color: #2ecc71;
}


@media (max-width: 1000px) {
    #mainLoginSquare{
        display:flex;
        height: 70vh;
        width: 80vw;
        align-items: center;
        justify-content: centre;
        background-color:white;
        flex-direction:column;
        margin: 15vh auto;
        border-radius: 10vw;
        gap: 2.5vh;
    }
    h1{
        font-size:9vw;
        padding-top: 4vh;
    }
    .inputInformationLI   {
        box-shadow: 4px 4px 4px gray;
        border: 0.5px solid gray;
        border-radius: 5vw;
        font-size: 3vw;
        width: 65vw;
        padding: 2vh;
    }
    #btn1{
        width: 70vw;
        border-radius: 15vw;
        color: white;
        font-size: 1.5vh;
        box-shadow: 4px 4px 4px gray;
        cursor: pointer;
        display: block;
        font-weight: bold;
        text-decoration: none;
        background: #333;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 1.5px solid #333;
        transition: all .80s;
    }
    
    #btn1:hover  {
        width: 70wv;
        border: 1.5px solid #2ecc71;
        background: transparent;
        color: #2ecc71;
    }
    #forgotLink{
        padding-right: 20vw;
        font-size: 4vw;
        cursor:pointer;
    }
    .spanLink   {
        display: flex;
        font-size: 3vw;
        gap: 3.3vw;
    }
  }
