#loginForm  {
    display: block;
}

#signUpForm {
    display: none;
}


body    {
    background-color: rgb(91, 82, 216);
}

*   {
    font-family: 'McLaren', sans-serif;
}

#signUpLoginFormsMainText   {
    font-size: 3vw;
}

#inputField {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 60px;
    width: 40vw;
    height: 90vh;
    margin-top: 3vh;
    gap: 3vh;
}

#signUpForm {
    /* display: flex; */
    justify-content: center;
}

#spanLink   {
    display: flex;
    gap: 0.5vw;
    font-size: 1.2vw;
}

#loginLink {
    color: #2D79BF;
    cursor: pointer;
}

.inputInformation   {
    box-shadow: 4px 4px 4px gray;
    border: 0.5px solid gray;
    border-radius: 1vw;
    font-size: 1.5vw;
    width: 30vw;
    padding: 2vh;
}

#confirmingSignUp   {
    width: 32vw;
    border-radius: 1vw;
    color: white;
    font-size: 2vh;
    box-shadow: 4px 4px 4px gray;
    cursor: pointer;
    display: block;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1.5px solid #333;
    transition: all .80s;
}

#loginLink  {
    border: none;
    text-decoration: underline;
    background-color: white;
}

#madeBy {
    position: absolute;
    top: 89vh;
    left: 89vw;
    font-size: 1.2vw;
}

#confirmingSignUp:hover {
    width: 200px;
    border: 1.5px solid #2ecc71;
    background: transparent;
    color: #2ecc71;
}

.error-container {
    color: #ff0000;
    font-size: 14px;

}

.error-message {
    margin-top: 5px;
}